.calc {
    background-color: black;
    padding: 20px;
    width: 400px;
    height: 250px;
}

.texto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.input {
    border: none;
    color: black;
    margin-bottom: 10px;
}



.op {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}